In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv(r"matches_data.csv", index_col=0)

In [3]:
df.head()

,date,time,comp,round,day,venue,result,gf,ga,opponent,...,match report,notes,sh,sot,dist,fk,pk,pkatt,season,team
0,2023-08-13,16:30,Premier League,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,...,Match Report,NaN,13.0,1.0,17.8,0.0,0,0,2023,Liverpool
1,2023-08-19,15:00,Premier League,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,...,Match Report,NaN,25.0,9.0,16.8,1.0,0,1,2023,Liverpool
2,2023-08-27,16:30,Premier League,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,...,Match Report,NaN,9.0,4.0,17.2,1.0,0,0,2023,Liverpool
3,2023-09-03,14:00,Premier League,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,...,Match Report,NaN,17.0,4.0,14.7,0.0,0,0,2023,Liverpool
4,2023-09-16,12:30,Premier League,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,...,Match Report,NaN,16.0,5.0,15.8,0.0,0,0,2023,Liverpool

In [4]:
df.shape

(1196, 27)

In [5]:
df.team.value_counts()

Liverpool                   60
Nottingham Forest           60
Arsenal                     60
Tottenham Hotspur           60
Aston Villa                 60
West Ham United             60
Manchester United           60
Newcastle United            60
Brighton and Hove Albion    60
Chelsea                     60
Wolverhampton Wanderers     60
Everton                     60
Fulham                      60
Crystal Palace              60
Bournemouth                 59
Brentford                   59
Manchester City             59
Leicester City              38
Leeds United                38
Southampton                 38
Burnley                     22
Sheffield United            22
Luton Town                  21
Name: team, dtype: int64

In [6]:
df["round"].value_counts()

Matchweek 1     40
Matchweek 12    40
Matchweek 22    40
Matchweek 21    40
Matchweek 2     40
Matchweek 19    40
Matchweek 16    40
Matchweek 15    40
Matchweek 14    40
Matchweek 13    40
Matchweek 20    40
Matchweek 11    40
Matchweek 6     40
Matchweek 10    40
Matchweek 3     40
Matchweek 5     40
Matchweek 4     40
Matchweek 7     40
Matchweek 8     40
Matchweek 9     40
Matchweek 18    38
Matchweek 17    38
Matchweek 33    20
Matchweek 32    20
Matchweek 37    20
Matchweek 36    20
Matchweek 35    20
Matchweek 28    20
Matchweek 34    20
Matchweek 25    20
Matchweek 31    20
Matchweek 30    20
Matchweek 29    20
Matchweek 27    20
Matchweek 26    20
Matchweek 24    20
Matchweek 23    20
Matchweek 38    20
Name: round, dtype: int64

In [7]:
df.dtypes

date             object
time             object
comp             object
round            object
day              object
venue            object
result           object
gf              float64
ga              float64
opponent         object
xg              float64
xga             float64
poss            float64
attendance      float64
captain          object
formation        object
referee          object
match report     object
notes           float64
sh              float64
sot             float64
dist            float64
fk              float64
pk                int64
pkatt             int64
season            int64
team             object
dtype: object

In [8]:
del df["comp"]
del df["notes"]

In [9]:
df["date"] = pd.to_datetime(df["date"])
df["target"] = (df["result"] == "W").astype("int")

In [10]:
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,match report,sh,sot,dist,fk,pk,pkatt,season,team,target
0,2023-08-13,16:30,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,1.3,...,Match Report,13.0,1.0,17.8,0.0,0,0,2023,Liverpool,0
1,2023-08-19,15:00,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,3.0,...,Match Report,25.0,9.0,16.8,1.0,0,1,2023,Liverpool,1
2,2023-08-27,16:30,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,0.9,...,Match Report,9.0,4.0,17.2,1.0,0,0,2023,Liverpool,1
3,2023-09-03,14:00,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,2.5,...,Match Report,17.0,4.0,14.7,0.0,0,0,2023,Liverpool,1
4,2023-09-16,12:30,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,2.5,...,Match Report,16.0,5.0,15.8,0.0,0,0,2023,Liverpool,1

In [11]:
df["venue_code"] = df["venue"].astype("category").cat.codes
df["opp_code"] = df["opponent"].astype("category").cat.codes
df["hour"] = df["time"].str.replace(":.+", "", regex=True).astype("int")
df["day_code"] = df["date"].dt.dayofweek

In [12]:
df.head()

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
0,2023-08-13,16:30,Matchweek 1,Sun,Away,D,1.0,1.0,Chelsea,1.3,...,0.0,0,0,2023,Liverpool,0,0,6,16,6
1,2023-08-19,15:00,Matchweek 2,Sat,Home,W,3.0,1.0,Bournemouth,3.0,...,1.0,0,1,2023,Liverpool,1,1,2,15,5
2,2023-08-27,16:30,Matchweek 3,Sun,Away,W,2.0,1.0,Newcastle Utd,0.9,...,1.0,0,0,2023,Liverpool,1,0,16,16,6
3,2023-09-03,14:00,Matchweek 4,Sun,Home,W,3.0,0.0,Aston Villa,2.5,...,0.0,0,0,2023,Liverpool,1,1,1,14,6
4,2023-09-16,12:30,Matchweek 5,Sat,Away,W,3.0,1.0,Wolves,2.5,...,0.0,0,0,2023,Liverpool,1,0,22,12,5

In [13]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

train = df[df["date"] < '2023-01-01']
test = df[df["date"] > '2023-01-01']

predictors = ["venue_code", "opp_code", "hour", "day_code"]
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [14]:
preds = rf.predict(test[predictors])

In [15]:
from sklearn.metrics import accuracy_score
error = accuracy_score(test["target"], preds)
error

0.6145833333333334

In [16]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          414  111
1          222  117

In [17]:
from sklearn.metrics import precision_score
precision_score(test["target"], preds)

0.5131578947368421

In [18]:
grouped_matches = df.groupby("team")
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [19]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [20]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
4,2022-08-27,15:00,Matchweek 4,Sat,Home,W,4.0,2.0,Crystal Palace,2.2,...,15,5,3.000000,1.000000,17.666667,6.000000,17.466667,0.666667,0.333333,0.333333
5,2022-08-31,19:30,Matchweek 5,Wed,Home,W,6.0,0.0,Nott'ham Forest,3.3,...,19,2,3.666667,1.666667,19.333333,7.333333,15.933333,0.333333,0.000000,0.000000
6,2022-09-03,17:30,Matchweek 6,Sat,Away,D,1.0,1.0,Aston Villa,2.1,...,17,5,4.333333,1.666667,18.666667,8.000000,15.033333,0.333333,0.000000,0.000000
9,2022-09-17,12:30,Matchweek 8,Sat,Away,W,3.0,0.0,Wolves,1.1,...,12,5,3.666667,1.000000,16.000000,6.000000,15.233333,0.333333,0.000000,0.000000
10,2022-10-02,14:00,Matchweek 9,Sun,Home,W,6.0,3.0,Manchester Utd,3.2,...,14,6,3.333333,0.333333,15.333333,6.666667,17.000000,0.333333,0.000000,0.000000
12,2022-10-08,15:00,Matchweek 10,Sat,Home,W,4.0,0.0,Southampton,2.4,...,15,5,3.333333,1.333333,17.000000,6.666667,16.800000,0.666667,0.000000,0.000000
14,2022-10-16,16:30,Matchweek 11,Sun,Away,L,0.0,1.0,Liverpool,1.0,...,16,6,4.333333,1.000000,19.666667,8.000000,15.833333,0.333333,0.000000,0.000000
15,2022-10-22,15:00,Matchweek 13,Sat,Home,W,3.0,1.0,Brighton,1.6,...,15,5,3.333333,1.333333,19.666667,7.666667,15.500000,0.333333,0.000000,0.000000
17,2022-10-29,12:30,Matchweek 14,Sat,Away,W,1.0,0.0,Leicester City,1.0,...,12,5,2.333333,0.666667,15.333333,5.666667,15.766667,0.000000,0.333333,0.333333
19,2022-11-05,15:00,Matchweek 15,Sat,Home,W,2.0,1.0,Fulham,2.1,...,15,5,1.333333,0.666667,13.333333,4.666667,18.066667,0.333333,0.333333,0.333333
21,2022-11-12,12:30,Matchweek 16,Sat,Home,L,1.0,2.0,Brentford,1.6,...,12,5,2.000000,0.666667,13.000000,4.000000,17.966667,0.666667,0.666667,0.666667
23,2022-12-28,20:00,Matchweek 17,Wed,Away,W,3.0,1.0,Leeds United,4.3,...,20,2,1.333333,1.000000,19.666667,5.000000,19.933333,0.666667,0.333333,0.333333
24,2022-12-31,15:00,Matchweek 18,Sat,Home,D,1.0,1.0,Everton,1.7,...,15,5,2.000000,1.333333,23.333333,6.333333,18.333333,0.333333,0.333333,0.333333
25,2023-01-05,20:00,Matchweek 19,Thu,Away,W,1.0,0.0,Chelsea,2.0,...,20,3,1.666667,1.333333,23.666667,6.000000,17.433333,0.000000,0.000000,0.000000
28,2023-01-14,12:30,Matchweek 20,Sat,Away,L,1.0,2.0,Manchester Utd,0.6,...,12,5,1.666667,0.666667,18.000000,5.000000,15.800000,0.000000,0.000000,0.000000
29,2023-01-19,20:00,Matchweek 7,Thu,Home,W,4.0,2.0,Tottenham,2.3,...,20,3,1.000000,1.000000,11.000000,2.333333,16.866667,0.000000,0.000000,0.000000
30,2023-01-22,14:00,Matchweek 21,Sun,Home,W,3.0,0.0,Wolves,2.8,...,14,6,2.000000,1.333333,11.000000,3.333333,17.166667,0.333333,0.000000,0.000000
32,2023-02-05,16:30,Matchweek 22,Sun,Away,L,0.0,1.0,Tottenham,1.3,...,16,6,2.666667,1.333333,11.000000,4.000000,16.766667,0.333333,0.333333,0.333333
33,2023-02-12,16:30,Matchweek 23,Sun,Home,W,3.0,1.0,Aston Villa,3.3,...,16,6,2.333333,1.000000,14.333333,5.333333,16.266667,0.666667,0.333333,0.333333
34,2023-02-15,19:30,Matchweek 12,Wed,Away,W,3.0,1.0,Arsenal,1.8,...,19,2,2.000000,0.666667,14.333333,5.666667,15.966667,0.666667,0.666667,0.666667
35,2023-02-18,15:00,Matchweek 24,Sat,Away,D,1.0,1.0,Nott'ham Forest,2.4,...,15,5,2.000000,1.000000,13.333333,5.666667,15.066667,0.666667,0.333333,0.333333
37,2023-02-25,17:30,Matchweek 25,Sat,Away,W,4.0,1.0,Bournemouth,2.4,...,17,5,2.333333,1.000000,16.000000,6.000000,15.166667,1.000000,0.333333,0.333333
39,2023-03-04,12:30,Matchweek 26,Sat,Home,W,2.0,0.0,Newcastle Utd,1.3,...,12,5,2.666667,1.000000,17.333333,5.333333,15.133333,1.000000,0.000000,0.000000
40,2023-03-11,17:30,Matchweek 27,Sat,Away,W,1.0,0.0,Crystal Palace,2.1,...,17,5,2.333333,0.666667,18.000000,4.666667,16.366667,1.666667,0.000000,0.000000
43,2023-04-01,12:30,Matchweek 29,Sat,Home,W,4.0,1.0,Liverpool,2.9,...,12,5,2.333333,0.333333,14.666667,3.666667,16.700000,1.333333,0.333333,0.333333
44,2023-04-08,17:30,Matchweek 30,Sat,Away,W,4.0,1.0,Southampton,2.9,...,17,5,2.333333,0.333333,13.666667,4.666667,16.433333,1.333333,0.333333,0.333333
46,2023-04-15,17:30,Matchweek 31,Sat,Home,W,3.0,1.0,Leicester City,1.6,...,17,5,3.000000,0.666667,14.000000,6.000000,15.566667,0.666667,0.666667,0.666667
49,2023-04-26,20:00,Matchweek 33,Wed,Home,W,4.0,1.0,Arsenal,2.5,...,20,2,3.666667,1.000000,13.333333,6.000000,15.166667,0.333333,0.666667,0.666667
50,2023-04-30,14:00,Matchweek 34,Sun,Away,W,2.0,1.0,Fulham,2.5,...,14,6,3.666667,1.000000,12.333333,6.333333,15.633333,0.000000,0.666667,0.666667
51,2023-05-03,20:00,Matchweek 28,Wed,Home,W,3.0,0.0,West Ham,2.3,...,20,2,3.000000,1.000000,12.000000,6.666667,15.933333,0.000000,0.666667,0.666667
52,2023-05-06,15:00,Matchweek 35,Sat,Home,W,2.0,1.0,Leeds United,2.6,...,15,5,3.000000,0.666667,13.666667,8.000000,15.433333,0.000000,0.333333,0.333333
54,2023-05-14,14:00,Matchweek 36,Sun,Away,W,3.0,0.0,Everton,0.8,...,14,6,2.333333,0.666667,14.666667,7.000000,16.366667,0.666667,0.333333,0.666667
56,2023-05-21,16:00,Matchweek 37,Sun,Home,W,1.0,0.0,Chelsea,1.2,...,16,6,2.666667,0.333333,14.000000,5.666667,18.100000,1.333333,0.000000,0.333333
57,2023-05-24,20:00,Matchweek 32,Wed,Away,D,1.0,1.0,Brighton,1.8,...,20,2,2.000000,0.333333,13.666667,4.000000,18.933333,1.333333,0.000000,0.333333
58,2023-05-28,16:30,Matchweek 38,Sun,Away,L,0.0,1.0,Brentford,1.6,...,16,6,1.666667,0.333333,12.333333,3.333333,17.333333,0.666667,0.000000,0.000000
1,2023-08-11,20:00,Matchweek 1,Fri,Away,W,3.0,0.0,Burnley,1.9,...,20,4,0.666667,0.666667,15.000000,2.666667,16.500000,0.000000,0.000000,0.000000
3,2023-08-19,20:00,Matchweek 2,Sat,Home,W,1.0,0.0,Newcastle Utd,1.0,...,20,5,1.333333,0.666667,15.666667,4.666667,14.866667,0.000000,0.000000,0.000000
4,2023-08-27,14:00,Matchweek 3,Sun,Away,W,2.0,1.0,Sheffield Utd,3.5,...,14,6,1.333333,0.333333,16.000000,4.666667,16.200000,0.000000,0.000000,0.000000
5,2023-09-02,15:00,Matchweek 4,Sat,Home,W,5.0,1.0,Fulham,2.2,...,15,5,2.000000,0.333333,20.000000,7.000000,16.366667,0.666667,0.000000,0.333333
6,2023-09-16,15:00,Matchweek 5,Sat,Away,W,3.0,1.0,West Ham,3.6,...,15,5,2.666667,0.666667,16.333333,5.666667,16.666667,0.666667,0.333333,0.666667
8,2023-09-23,15:00,Matchweek 6,Sat,Home,W,2.0,0.0,Nott'ham Forest,1.3,...,15,5,3.333333,1.000000,21.333333,8.666667,16.166667,1.000000,0.333333,0.666667
10,2023-09-30,15:00,Matchweek 7,Sat,Away,L,1.0,2.0,Wolves,0.9,...,15,5,3.333333,0.666667,14.000000,7.000000,16.133333,1.000000,0.333333,0.333333
12,2023-10-08,16:30,Matchweek 8,Sun,Away,L,0.0,1.0,Arsenal,0.5,...,16,6,2.000000,1.000000,19.666667,8.333333,17.633333,1.333333,0.000000,0.000000
13,2023-10-21,15:00,Matchweek 9,Sat,Home,W,2.0,1.0,Brighton,0.8,...,15,5,1.000000,1.000000,11.333333,4.000000,17.133333,1.000000,0.000000,0.000000
15,2023-10-29,15:30,Matchweek 10,Sun,Away,W,3.0,0.0,Manchester Utd,4.0,...,15,6,1.000000,1.333333,12.333333,4.333333,17.666667,0.666667,0.000000,0.000000
16,2023-11-04,15:00,Matchweek 11,Sat,Home,W,6.0,1.0,Bournemouth,1.9,...,15,5,1.666667,0.666667,11.333333,4.666667,16.966667,1.000000,0.333333,0.333333
18,2023-11-12,16:30,Matchweek 12,Sun,Away,D,4.0,4.0,Chelsea,2.9,...,16,6,3.666667,0.666667,17.000000,7.333333,17.466667,1.000000,0.333333,0.333333
19,2023-11-25,12:30,Matchweek 13,Sat,Home,D,1.0,1.0,Liverpool,1.3,...,12,5,4.333333,1.666667,18.333333,8.666667,16.733333,1.000000,0.666667,0.666667
21,2023-12-03,16:30,Matchweek 14,Sun,Home,D,3.0,3.0,Tottenham,2.6,...,16,6,3.666667,2.000000,17.000000,7.333333,16.433333,0.666667,0.333333,0.333333
22,2023-12-06,20:15,Matchweek 15,Wed,Away,L,0.0,1.0,Aston Villa,0.6,...,20,2,2.666667,2.666667,15.666667,6.000000,15.433333,0.666667,0.333333,0.333333
23,2023-12-10,14:00,Matchweek 16,Sun,Away,W,2.0,1.0,Luton Town,1.6,...,14,6,1.333333,1.666667,11.666667,3.666667,12.366667,0.333333,0.000000,0.000000
25,2023-12-16,15:00,Matchweek 17,Sat,Home,D,2.0,2.0,Crystal Palace,1.6,...,15,5,1.666667,1.666667,12.333333,4.000000,13.166667,0.333333,0.000000,0.000000
26,2023-12-27,20:15,Matchweek 19,Wed,Away,W,3.0,1.0,Everton,2.4,...,20,2,1.333333,1.333333,13.000000,5.666667,14.766667,0.333333,0.000000,0.000000
27,2023-12-30,15:00,Matchweek 20,Sat,Home,W,2.0,0.0,Sheffield Utd,2.2,...,15,5,2.333333,1.333333,19.666667,7.666667,18.800000,0.666667,0.333333,0.333333
29,2024-01-13,17:30,Matchweek 21,Sat,Away,W,3.0,2.0,Newcastle Utd,3.0,...,17,5,2.333333,1.000000,19.666667,7.000000,18.366667,0.333333,0.333333,0.333333
31,2024-01-31,19:30,Matchweek 22,Wed,Home,W,3.0,1.0,Burnley,1.7,...,19,2,2.666667,1.000000,22.333333,7.666667,18.733333,1.000000,0.333333,0.333333

In [21]:
matches_rolling = df.groupby("team").apply(lambda x: rolling_averages(x, cols, new_cols))
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 3  2022-08-27  17:30   Matchweek 4  Sat  Home      W
                        4  2022-08-31  19:30   Matchweek 5  Wed  Home      W
                        5  2022-09-04  16:30   Matchweek 6  Sun  Away      L
                        7  2022-09-18  12:00   Matchweek 8  Sun  Away      W
                        8  2022-10-01  12:30   Matchweek 9  Sat  Home      W
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 19 2023-12-24  13:00  Matchweek 18  Sun  Home      W
                        20 2023-12-27  19:30  Matchweek 19  Wed  Away      W
                        21 2023-12-30  15:00  Matchweek 20  Sat  Home      W
                        24 2024-01-22  19:45  Matchweek 21  Mon  Away      D
                        26 2024-02-01  20:15  Matchweek 22  Thu  Home      L

                             gf   ga        opponent   xg  ...  hour  \
team                                                       ...
Arsenal                 3   2.0  1.0          Fulham  2.6  ...    17
                        4   2.0  1.0     Aston Villa  2.4  ...    19
                        5   1.0  3.0  Manchester Utd  1.3  ...    16
                        7   3.0  0.0       Brentford  1.5  ...    12
                        8   3.0  1.0       Tottenham  2.4  ...    12
...                         ...  ...             ...  ...  ...   ...
Wolverhampton Wanderers 19  2.0  1.0         Chelsea  1.3  ...    13
                        20  4.0  1.0       Brentford  2.4  ...    19
                        21  3.0  0.0         Everton  1.9  ...    15
                        24  0.0  0.0        Brighton  1.1  ...    19
                        26  3.0  4.0  Manchester Utd  2.1  ...    20

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 3          5    3.000000   0.666667  14.333333
                        4          2    3.000000   1.000000  18.333333
                        5          6    2.333333   0.666667  19.333333
                        7          6    1.666667   1.666667  20.000000
                        8          5    2.000000   1.333333  17.000000
...                              ...         ...        ...        ...
Wolverhampton Wanderers 19         6    0.666667   1.333333  10.333333
                        20         2    1.000000   1.666667  12.666667
                        21         5    2.000000   1.666667  13.000000
                        24         0    3.000000   0.666667  12.333333
                        26         3    2.333333   0.333333  10.333333

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 3     5.000000    14.133333    0.333333         0.0
                        4     7.000000    14.433333    0.333333         0.0
                        5     7.333333    15.533333    0.666667         0.0
                        7     6.333333    16.800000    1.000000         0.0
                        8     6.000000    17.700000    0.666667         0.0
...                                ...          ...         ...         ...
Wolverhampton Wanderers 19    3.666667    17.166667    0.333333         0.0
                        20    4.333333    17.466667    0.333333         0.0
                        21    4.666667    18.333333    0.333333         0.0
                        24    5.666667    15.966667    0.333333         0.0
                        26    4.666667    16.600000    0.000000         0.0

                            pkatt_rolling
team
Arsenal                 3             0.0
                        4             0.0
                        5             0.0
                        7             0.0
                        8             0.0
...                                   ...
Wolverhampton Wanderers 19            0.0
                        20            0.0
                        21            0.0
                        24            0.0
                        26            0.0

[1127 rows x 38 columns]

In [22]:
matches_rolling = matches_rolling.droplevel('team')
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
3,2022-08-27,17:30,Matchweek 4,Sat,Home,W,2.0,1.0,Fulham,2.6,...,17,5,3.000000,0.666667,14.333333,5.000000,14.133333,0.333333,0.0,0.0
4,2022-08-31,19:30,Matchweek 5,Wed,Home,W,2.0,1.0,Aston Villa,2.4,...,19,2,3.000000,1.000000,18.333333,7.000000,14.433333,0.333333,0.0,0.0
5,2022-09-04,16:30,Matchweek 6,Sun,Away,L,1.0,3.0,Manchester Utd,1.3,...,16,6,2.333333,0.666667,19.333333,7.333333,15.533333,0.666667,0.0,0.0
7,2022-09-18,12:00,Matchweek 8,Sun,Away,W,3.0,0.0,Brentford,1.5,...,12,6,1.666667,1.666667,20.000000,6.333333,16.800000,1.000000,0.0,0.0
8,2022-10-01,12:30,Matchweek 9,Sat,Home,W,3.0,1.0,Tottenham,2.4,...,12,5,2.000000,1.333333,17.000000,6.000000,17.700000,0.666667,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19,2023-12-24,13:00,Matchweek 18,Sun,Home,W,2.0,1.0,Chelsea,1.3,...,13,6,0.666667,1.333333,10.333333,3.666667,17.166667,0.333333,0.0,0.0
20,2023-12-27,19:30,Matchweek 19,Wed,Away,W,4.0,1.0,Brentford,2.4,...,19,2,1.000000,1.666667,12.666667,4.333333,17.466667,0.333333,0.0,0.0
21,2023-12-30,15:00,Matchweek 20,Sat,Home,W,3.0,0.0,Everton,1.9,...,15,5,2.000000,1.666667,13.000000,4.666667,18.333333,0.333333,0.0,0.0
24,2024-01-22,19:45,Matchweek 21,Mon,Away,D,0.0,0.0,Brighton,1.1,...,19,0,3.000000,0.666667,12.333333,5.666667,15.966667,0.333333,0.0,0.0
26,2024-02-01,20:15,Matchweek 22,Thu,Home,L,3.0,4.0,Manchester Utd,2.1,...,20,3,2.333333,0.333333,10.333333,4.666667,16.600000,0.000000,0.0,0.0

In [23]:
matches_rolling.index = range(matches_rolling.shape[0])

In [24]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2023-01-01']
    test = data[data["date"] > '2023-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [25]:
error

0.5251141552511416

In [26]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [27]:
combined.head(10)

    actual  predicted       date     team         opponent result
13       0          1 2023-01-03  Arsenal    Newcastle Utd      D
14       1          1 2023-01-15  Arsenal        Tottenham      W
15       1          1 2023-01-22  Arsenal   Manchester Utd      W
16       0          0 2023-02-04  Arsenal          Everton      L
17       0          1 2023-02-11  Arsenal        Brentford      D
18       0          1 2023-02-15  Arsenal  Manchester City      L
19       1          0 2023-02-18  Arsenal      Aston Villa      W
20       1          1 2023-02-25  Arsenal   Leicester City      W
21       1          0 2023-03-01  Arsenal          Everton      W
22       1          1 2023-03-04  Arsenal      Bournemouth      W

In [28]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [29]:
combined["new_team"] = combined["team"].map(mapping)

In [30]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,1,2023-01-03,Arsenal,Newcastle Utd,D,Arsenal,0,0,Newcastle United,Arsenal,D,Newcastle Utd
1,1,1,2023-01-15,Arsenal,Tottenham,W,Arsenal,0,0,Tottenham Hotspur,Arsenal,L,Tottenham
2,1,1,2023-01-22,Arsenal,Manchester Utd,W,Arsenal,0,0,Manchester United,Arsenal,L,Manchester Utd
3,0,0,2023-02-04,Arsenal,Everton,L,Arsenal,1,0,Everton,Arsenal,W,Everton
4,0,1,2023-02-11,Arsenal,Brentford,D,Arsenal,0,0,Brentford,Arsenal,D,Brentford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
780,1,0,2023-12-24,Wolverhampton Wanderers,Chelsea,W,Wolves,0,1,Chelsea,Wolves,L,Chelsea
781,1,0,2023-12-27,Wolverhampton Wanderers,Brentford,W,Wolves,0,0,Brentford,Wolves,L,Brentford
782,1,0,2023-12-30,Wolverhampton Wanderers,Everton,W,Wolves,0,0,Everton,Wolves,L,Everton
783,0,0,2024-01-22,Wolverhampton Wanderers,Brighton,D,Wolves,0,1,Brighton and Hove Albion,Wolves,D,Brighton
784,0,0,2024-02-01,Wolverhampton Wanderers,Manchester Utd,L,Wolves,1,0,Manchester United,Wolves,W,Manchester Utd

In [31]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    91
0    76
Name: actual_x, dtype: int64